*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width: 70%;
  margin: auto;
  text-align: center;
}
.counter-box{
  width: 100px;
  height: 80px;
  line-height: 80px;
  font-size: 3rem;
  text-align: center;
  margin: auto;
  border: 1px solid black;
}
.increment, .decrement, .reset{
  width: 100px;
  height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 5px 0px 5px;
  border-radius: 10px;
  outline: none;
}
.increment{
  background-color: yellow;
}
.decrement{
  background-color: #ff0000;
}