*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.main{
  width: 20%;
  margin: auto;
  text-align: center;
  position: absolute;
  left: 40%;
  top: 20%;
}
.counter-box{
  width: 100px;
  height: 80px;
  line-height: 80px;
  font-size: 3rem;
  text-align: center;
  margin: auto;
}
.counter-box-dark{
  color: #DEE4E7;
}
.increment, .decrement, .reset{
  width: 100px;
  height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 5px 0px 5px;
  border-radius: 10px;
  outline: none;
}
.increment{
  background-color: yellow;
}
.decrement{
  background-color: #ff0000;
}
/* mode section */

.mode{
  width: 300px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-around;
}
.light-mode{
  background-color: #DEE4E7;
}
.dark-mode{
  background-color: #37474F;
  
}
.light-h5{
  color: #37474F;
  margin: auto 0px auto 0px;
  font-size: 1rem;
}
.dark-h5{
  color: #DEE4E7;
  margin: auto 0px auto 0px;
  font-size: 1rem;
}
.mode-btn-dark{
  background-color: #DEE4E7;
  color: #37474F;
  height: 30px;
  font-weight: bold;
}
.mode-btn-light{
  background-color: #37474F;
  color: #DEE4E7;
  height: 30px;
  font-weight: bold;
}